FPDL_0.3/FpdlDesignTypes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2017 rel. 3 sp1 (x64) (http://www.altova.com) by Peter Curran (Ascentor Ltd) -->
<?purpose description="This schema defines the FPDL Design"?>
<?version number="0.3" date="22 Nov 2017"?>
<?copyright statement="Crown Copyright"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning" xmlns:fpdl="http://www.niteworks.net/fpdl" targetNamespace="http://www.niteworks.net/fpdl" elementFormDefault="qualified" attributeFormDefault="unqualified" version="0.3" vc:minVersion="1.1">
	<xs:include schemaLocation="FpdlCommonTypes.xsd"/>
	<xs:complexType name="designType">
		<xs:sequence>
			<xs:element name="configMgmt" type="fpdl:configMgmtType" minOccurs="1" maxOccurs="1"/>
			<xs:element name="federation" type="fpdl:federationDesignType" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Policy for a federation</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="federationDesignType">
		<xs:annotation>
			<xs:documentation>Security policy for a federation</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="description" type="fpdl:descriptionType" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Description of a federation</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="federate" type="fpdl:federateDesignType" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Policy for a federate</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="descriptionType">
		<xs:annotation>
			<xs:documentation>Description of the federation</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="name" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Name of the federation</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="summary" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Summary of what the federation is for</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="scenario" type="fpdl:scenarioType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>URI of a MSDLdefinition of the scenario</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="scenarioType">
		<xs:annotation>
			<xs:documentation>URN of a Military Scenario definition file (MSDL)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:anyURI"/>
	</xs:simpleType>
	<xs:complexType name="federateDesignType">
		<xs:annotation>
			<xs:documentation>Specification for a federate</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="federateName" type="fpdl:federateNameType" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Unique federate name</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="policyReference" type="fpdl:guidPattern">
				<xs:annotation>
					<xs:documentation>Reference to the Policy used  to derive release policy</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="simulatorName" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Optional name for the simulator or other system providing the federate</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="gateway" type="fpdl:gatewayType" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Gateway deployment pattern</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="subscribe" type="fpdl:subscribeFromType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Federate subscribe policy</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="publish" type="fpdl:publishType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Federate publish policy</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="entity" type="fpdl:entityType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Entity publish policy</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="gatewayType">
		<xs:attribute name="type" use="required">
			<xs:annotation>
				<xs:documentation>Gateway deployment pattern (LTG, MTG, HTG, NONE)</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="LTG"/>
					<xs:enumeration value="MTG"/>
					<xs:enumeration value="HTG"/>
					<xs:enumeration value="NONE"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="entityType">
		<xs:sequence>
			<xs:element name="entityName" type="xs:string" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Friendly name of the entity</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="entityID" type="fpdl:entityIdPattern" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>UUID of the entity</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="publish" type="fpdl:publishType" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Publish policy</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="publishType">
		<xs:sequence>
			<xs:element name="object" type="fpdl:objectType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Object publication</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="interaction" type="fpdl:interactionType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Interaction publication</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="subscribeFromType">
		<xs:sequence>
			<xs:element name="source" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Subscription source</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="fpdl:subscribeType">
							<xs:attribute name="sourceType" use="required">
								<xs:annotation>
									<xs:documentation>Source type deployment constraint</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:enumeration value="federate"/>
										<xs:enumeration value="entity"/>
										<xs:enumeration value="filter"/>
										<xs:enumeration value="any"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
						</xs:extension>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="subscribeType">
		<xs:annotation>
			<xs:documentation>All objects and interactions the federate may subscribe to in the CS+S federation</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:choice maxOccurs="1">
				<xs:element name="federateSource" type="fpdl:federateNameType">
					<xs:annotation>
						<xs:documentation>Name of a federate source</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="entitySource" type="fpdl:entityIdPattern">
					<xs:annotation>
						<xs:documentation>UUID of an entity source</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
			<xs:element name="object" type="fpdl:objectType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Object subscription</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="interaction" type="fpdl:interactionType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Interaction subscription</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="objectType">
		<xs:sequence>
			<xs:element name="objectClassName" type="fpdl:objectClassNamePattern" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Fully qualified classname of the object</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:sequence>
				<!--
				<xs:element name="attribute" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Attribute subscription</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:complexContent>
							<xs:extension base="fpdl:attributeType">
								<xs:sequence>
									<xs:element name="attributeName" type="fpdl:attributeNamePattern" maxOccurs="1"/>
								</xs:sequence>
								<xs:attribute name="valueType"/>
								<xs:attribute name="defaultValue"/>
							</xs:extension>
						</xs:complexContent>
					</xs:complexType>
				</xs:element>
-->
				<xs:element name="attributeName" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Attribute name</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:simpleContent>
							<xs:extension base="fpdl:attributeNamePattern">
								<xs:attribute name="dataType" type="xs:NCName" use="required">
									<xs:annotation>
										<xs:documentation>Data type deployment constraint</xs:documentation>
									</xs:annotation>
								</xs:attribute>
								<xs:attribute name="defaultValue" type="xs:anyAtomicType">
									<xs:annotation>
										<xs:documentation>Optional default value deployment constraint</xs:documentation>
									</xs:annotation>
								</xs:attribute>
							</xs:extension>
						</xs:simpleContent>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="interactionType">
		<xs:sequence>
			<xs:element name="interactionClassName" type="fpdl:interactionClassNamePattern">
				<xs:annotation>
					<xs:documentation>Fully qualified classname of the interaction</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
