FPDL_0.3/FpdlPolicyTypes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2017 rel. 3 sp1 (x64) (http://www.altova.com) by Peter Curran (Ascentor Ltd) -->
<?purpose description="This schema defines the FPDL Policy"?>
<?version number="0.3" date="22 Nov 2017"?>
<?copyright statement="Crown Copyright"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning" xmlns:fpdl="http://www.niteworks.net/fpdl" targetNamespace="http://www.niteworks.net/fpdl" elementFormDefault="qualified" attributeFormDefault="unqualified" version="0.3" vc:minVersion="1.1">
	<xs:include schemaLocation="FpdlCommonTypes.xsd"/>
	<xs:complexType name="policyType">
		<xs:sequence>
			<xs:element name="configMgmt" type="fpdl:configMgmtType">
				<xs:annotation>
					<xs:documentation>Config management data for the instance document</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="federate" type="fpdl:federatePolicyType">
				<xs:annotation>
					<xs:documentation>Policy for a federate</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="federatePolicyType">
		<xs:annotation>
			<xs:documentation>The Federate type contains all of the elements associated with the release policy for a federate with respect to the CS+S federation</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="federateName" type="fpdl:federateNameType" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>CS+S unique name for this federate</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="securityOwner" type="fpdl:securityOwnerType">
				<xs:annotation>
					<xs:documentation>National/organisational owner for this federate</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="securityClassification" type="fpdl:securityClassificationType">
				<xs:annotation>
					<xs:documentation>Classification for this federate</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="securityCaveat" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Release caveat for this federate</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="physicalLocation" type="xs:string" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Geographic location of the federate</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="description" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Description of federate/federate purpose</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="publish" type="fpdl:publishPolicyType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>List of objects/interactions published by the federate to CS+S</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="entity" type="fpdl:entityPolicyType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Entity within the federate</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="federateType" use="required">
			<xs:annotation>
				<xs:documentation>This federate is either a gateway, filter or service)</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="gateway"/>
					<xs:enumeration value="filter"/>
					<xs:enumeration value="service"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="entityPolicyType">
		<xs:annotation>
			<xs:documentation>Entity within the federation</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="entityName" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Friendly name for entity</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="entityID" type="fpdl:entityIdPattern" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>UUID of the entity</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="publish" type="fpdl:publishPolicyType" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>List of objects/interactions published by the entity to CS+S</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="publishPolicyType">
		<xs:annotation>
			<xs:documentation>All objects and interactions that may be published to the CS+S federation</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="object" type="fpdl:objectPolicyType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>HLA Object</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="interaction" type="fpdl:interactionPolicyType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>HLA Interaction</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="objectPolicyType">
		<xs:sequence>
			<xs:element name="objectClassName" type="fpdl:objectClassNamePattern" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Fully qualified name of object's class</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="releaseStatements" type="fpdl:releaseStatementsType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Release statements for the whole object</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="attribute" type="fpdl:attributePolicyType" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Attributes of this object</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="attributePolicyType">
		<xs:sequence>
			<xs:element name="attributeName" type="fpdl:attributeNamePattern" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Attribute name</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="defaultValue" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Optional default value</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:anyAtomicType">
							<xs:attribute name="dataType" type="xs:NCName"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="releaseStatements" type="fpdl:releaseStatementsType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Release statements relating to this attribute only</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="interactionPolicyType">
		<xs:sequence>
			<xs:element name="interactionClassName" type="fpdl:interactionClassNamePattern" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Fully qualified name of interaction's class</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="releaseStatements" type="fpdl:releaseStatementsType">
				<xs:annotation>
					<xs:documentation>Release statements for this interaction</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="exception" type="fpdl:parameterPolicyType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Exception to interaction releaseStatements</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="parameterPolicyType">
		<xs:sequence>
			<xs:element name="parameterName" type="fpdl:attributeNamePattern" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Parameter name</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="entityID" type="fpdl:entityIdPattern" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Referenced entity</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="releaseStatements" type="fpdl:releaseStatementsType">
				<xs:annotation>
					<xs:documentation>Release statements relating to this exception</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!-- Release statement specification -->
	<xs:complexType name="releaseStatementsType">
		<xs:sequence>
			<xs:element ref="fpdl:releaseStatement" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="releaseStatement" type="fpdl:releaseType" abstract="true"/>
	<xs:complexType name="releaseType" abstract="true"/>
	<xs:complexType name="genericReleaseType">
		<xs:complexContent>
			<xs:extension base="fpdl:releaseType">
				<xs:sequence>
					<xs:element name="securityOwner" type="fpdl:securityOwnerType" default="UK" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>National/Organisational owner</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="securityClassification" type="fpdl:securityClassificationType" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Classification</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="securityCaveat" type="fpdl:caveatType" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Additional caveats</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="securityNote" type="xs:string" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Optional notes</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="caveatType">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="type" use="required">
					<xs:annotation>
						<xs:documentation>Caveat is either permissive or restrictive or NOT RELEASABLE</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="permissive"/>
							<xs:enumeration value="restrictive"/>
							<xs:enumeration value="NOT RELEASABLE"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="specificReleaseType">
		<xs:complexContent>
			<xs:extension base="fpdl:releaseType">
				<xs:sequence>
					<xs:element name="federateName" type="fpdl:federateNameType" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Name of a CS+S federate</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="releaseToGeneric" type="fpdl:genericReleaseType" substitutionGroup="fpdl:releaseStatement"/>
	<xs:element name="notReleaseToGeneric" type="fpdl:genericReleaseType" substitutionGroup="fpdl:releaseStatement"/>
	<xs:element name="releaseToSpecific" type="fpdl:specificReleaseType" substitutionGroup="fpdl:releaseStatement"/>
	<xs:element name="notReleaseToSpecific" type="fpdl:specificReleaseType" substitutionGroup="fpdl:releaseStatement"/>
</xs:schema>
