FPDL_0.3/FpdlDeployTypes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2017 rel. 3 sp1 (x64) (http://www.altova.com) by Peter Curran (Ascentor Ltd) -->
<?purpose description="This schema defines the FPDL Deployment information"?>
<?version number="0.3" date="22 Nov 2017"?>
<?copyright statement="Crown Copyright"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning" xmlns:fpdl="http://www.niteworks.net/fpdl" targetNamespace="http://www.niteworks.net/fpdl" elementFormDefault="qualified" attributeFormDefault="unqualified" version="0.3" vc:minVersion="1.1">
	<xs:include schemaLocation="FpdlCommonTypes.xsd"/>
	<xs:include schemaLocation="FpdlDesignTypes.xsd"/>
	<xs:complexType name="deployType">
		<xs:sequence>
			<xs:element name="configMgmt" type="fpdl:configMgmtType" minOccurs="1" maxOccurs="1"/>
			<!--			<xs:element name="federation" type="fpdl:federationType" minOccurs="1" maxOccurs="1"/>   -->
			<xs:element name="designDocReference" type="fpdl:guidPattern">
				<xs:annotation>
					<xs:documentation>Reference to the Design document used for this Deploy document</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="system" maxOccurs="unbounded">
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="fpdl:systemType">
							<xs:attribute name="systemType" use="required">
								<xs:annotation>
									<xs:documentation>Type of this system specification (Gateway, Filter, Service)</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:enumeration value="Gateway"/>
										<xs:enumeration value="Filter"/>
										<xs:enumeration value="Service"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
							<xs:attribute name="designReference" type="fpdl:gatewayReferencePattern" use="required">
								<xs:annotation>
									<xs:documentation>Reference to federate design</xs:documentation>
								</xs:annotation>
							</xs:attribute>
						</xs:extension>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="systemType">
		<xs:sequence>
			<xs:element name="pattern">
				<xs:annotation>
					<xs:documentation>Deployment pattern for this system</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="LTG"/>
						<xs:enumeration value="MTG"/>
						<xs:enumeration value="HTG"/>
						<xs:enumeration value="ProximityFilter"/>
						<xs:enumeration value="ObfuscationFilter"/>
						<xs:enumeration value="DelayFilter"/>
						<xs:enumeration value="SmoothingFilter"/>
						<xs:enumeration value="Filter"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="component" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Configuration for a component</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="fpdl:componentType">
							<xs:attribute name="componentID" type="fpdl:guidPattern" use="required">
								<xs:annotation>
									<xs:documentation>ID of this component</xs:documentation>
								</xs:annotation>
							</xs:attribute>
							<xs:attribute name="componentType" use="required">
								<xs:annotation>
									<xs:documentation>Type of component</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:enumeration value="Proxy"/>
										<xs:enumeration value="Guard"/>
										<xs:enumeration value="Filter"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
						</xs:extension>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="componentType">
		<xs:all>
			<xs:element name="interface" type="fpdl:interfaceDeployType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Interface configuration</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="federation" type="fpdl:federationDeployType" minOccurs="0" maxOccurs="2">
				<xs:annotation>
					<xs:documentation>Federation interface configuration</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="host" type="fpdl:hostDeployType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Host configuration</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="osp" type="fpdl:ospDeployType" minOccurs="0" maxOccurs="2">
				<xs:annotation>
					<xs:documentation>Object serialisation protocol configuration</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="export" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Export policy</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="source" type="fpdl:exportDeployType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="import" type="fpdl:importDeployType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Import policy</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="filter" type="fpdl:filterDeployType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Filter configuration</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:all>
	</xs:complexType>
	<xs:complexType name="ospDeployType">
		<xs:sequence>
			<xs:element name="path">
				<xs:annotation>
					<xs:documentation>Directionality of this OSP configuration</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="ExportPath"/>
						<xs:enumeration value="ImportPath"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="protocol">
				<xs:annotation>
					<xs:documentation>Messaging protocol in use</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="HPSD_TCP"/>
						<xs:enumeration value="HPSD_ZMQ"/>
						<xs:enumeration value="WebLVC_TCP"/>
						<xs:enumeration value="WebLVC_ZMQ"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="inputPort" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Address:Port for  input</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="outputPort" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Address:Port for outpu</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="filterDeployType">
		<xs:sequence>
			<xs:element name="filterID" type="fpdl:entityIdPattern">
				<xs:annotation>
					<xs:documentation>UUID of the filter entity</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sourceID" type="fpdl:entityIdPattern">
				<xs:annotation>
					<xs:documentation>UUID of source entity that is to be filtered</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="rule" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Filter rule specification</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="parameters" type="fpdl:parametersType">
							<xs:annotation>
								<xs:documentation>Filter parameters</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
					<xs:attribute name="ref" use="required">
						<xs:annotation>
							<xs:documentation>Numeric reference for the rule</xs:documentation>
						</xs:annotation>
						<xs:simpleType>
							<xs:restriction base="xs:integer">
								<xs:minInclusive value="0"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="model" use="required">
						<xs:annotation>
							<xs:documentation>Model for rule</xs:documentation>
						</xs:annotation>
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="proximity"/>
								<xs:enumeration value="delay"/>
								<xs:enumeration value="obfuscate"/>
								<xs:enumeration value="smooth"/>
								<xs:enumeration value="compound"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="interfaceDeployType">
		<xs:sequence>
			<xs:element name="interfaceName" type="xs:string" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Unique local name for the interface</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ipAddress" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>IP address assigned to interface</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="fpdl:ipv4AddressPattern">
							<xs:attribute name="netPrefix" use="required">
								<xs:annotation>
									<xs:documentation>Network prefix for interface using CIDR notation</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:integer">
										<xs:maxInclusive value="32"/>
										<xs:minInclusive value="0"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="defaultRouter" type="fpdl:ipv4AddressPattern" minOccurs="0">
				<xs:annotation>
					<xs:documentation>IP address of default router</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="ipv4AddressPattern">
		<xs:annotation>
			<xs:documentation>IPv4 address specification per RFC 6021</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="(([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])\.){3}([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])(%[\p{N}\p{L}]+)?"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="portNumberPattern">
		<xs:restriction base="xs:integer">
			<xs:minInclusive value="1"/>
			<xs:maxInclusive value="65535"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="hostDeployType">
		<xs:sequence>
			<xs:element name="hostName"/>
			<xs:element name="logging">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="server" minOccurs="0" maxOccurs="unbounded">
							<xs:complexType>
								<xs:simpleContent>
									<xs:extension base="fpdl:ipv4AddressPattern">
										<xs:attribute name="protocol" type="xs:string" use="optional" default="syslog">
											<xs:annotation>
												<xs:documentation>Logging protocol (default syslog)</xs:documentation>
											</xs:annotation>
										</xs:attribute>
										<xs:attribute name="transport" type="xs:string" use="optional" default="UDP">
											<xs:annotation>
												<xs:documentation>Transport protocol (default UDP)</xs:documentation>
											</xs:annotation>
										</xs:attribute>
										<xs:attribute name="port" type="xs:int" use="optional" default="514">
											<xs:annotation>
												<xs:documentation>Port (default 514)</xs:documentation>
											</xs:annotation>
										</xs:attribute>
									</xs:extension>
								</xs:simpleContent>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="time">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="server" minOccurs="0" maxOccurs="unbounded">
							<xs:complexType>
								<xs:simpleContent>
									<xs:extension base="fpdl:ipv4AddressPattern">
										<xs:attribute name="protocol" use="optional" default="NTP">
											<xs:annotation>
												<xs:documentation>Time protocol (default NTP)</xs:documentation>
											</xs:annotation>
										</xs:attribute>
										<xs:attribute name="transport" type="xs:string" use="optional" default="UDP">
											<xs:annotation>
												<xs:documentation>Transport protocol (default UDP)</xs:documentation>
											</xs:annotation>
										</xs:attribute>
										<xs:attribute name="port" type="xs:int" use="optional" default="123">
											<xs:annotation>
												<xs:documentation>Port (default 123) </xs:documentation>
											</xs:annotation>
										</xs:attribute>
									</xs:extension>
								</xs:simpleContent>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="federationDeployType">
		<xs:sequence>
			<xs:element name="federationName" type="xs:string">
				<xs:annotation>
					<xs:documentation>Name of the federation</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="federateName" type="fpdl:federateNameType">
				<xs:annotation>
					<xs:documentation>Name of the federate in this federation</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="interfaceName" type="xs:string">
				<xs:annotation>
					<xs:documentation>Interface binding for this federation</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="rti">
				<xs:annotation>
					<xs:documentation>Configuration for RTI in this federation</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="crcAddress">
							<xs:annotation>
								<xs:documentation>IP address or name of the device hosting the CRC</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:simpleContent>
									<xs:extension base="fpdl:ipv4AddressPattern">
										<xs:attribute name="addressType" use="required">
											<xs:annotation>
												<xs:documentation>Indicate type of address (IP or name)</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:enumeration value="ipAddress"/>
													<xs:enumeration value="domainName"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:attribute>
									</xs:extension>
								</xs:simpleContent>
							</xs:complexType>
						</xs:element>
						<xs:element name="crcPortNumber" type="fpdl:portNumberPattern">
							<xs:annotation>
								<xs:documentation>Port number used by CRC</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="hlaSpec">
							<xs:annotation>
								<xs:documentation>HLA specification implemented by the RTI (eg HLA Evolved)</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Pitch pRTI 1516"/>
									<xs:enumeration value="HLA Evolved"/>
									<xs:enumeration value="Pitch pRTI 1.3"/>
									<xs:enumeration value="RTI NG"/>
									<xs:enumeration value="MAK 1.3 RTI"/>
									<xs:enumeration value="MAK 1516 RTI"/>
									<xs:enumeration value="RTI NG C++"/>
									<xs:enumeration value="RTI DLC C++"/>
									<xs:enumeration value="Evolved C++"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="fom">
							<xs:annotation>
								<xs:documentation>FOM</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:all>
									<xs:element name="uri" type="xs:anyURI" maxOccurs="unbounded">
										<xs:annotation>
											<xs:documentation>URI of a FOM or FOM module in use in this federation</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="fileName" type="xs:string" maxOccurs="unbounded">
										<xs:annotation>
											<xs:documentation>Filepath of a FOM or FOM module in use in this federation</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:all>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="importDeployType">
		<xs:complexContent>
			<xs:extension base="fpdl:publishType">
				<xs:sequence>
					<xs:element name="interfaceName" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Interface binding for the policy</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="exportDeployType">
		<xs:complexContent>
			<xs:extension base="fpdl:subscribeType">
				<xs:sequence>
					<xs:element name="interfaceName" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Interface binding for the policy</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- Filter Paramaters specification -->
	<xs:element name="parameter" abstract="true"/>
	<xs:complexType name="parametersType">
		<xs:sequence>
			<xs:element ref="fpdl:parameter" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="entityParam" substitutionGroup="fpdl:parameter">
		<xs:annotation>
			<xs:documentation>Parameter is an entity ID</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="fpdl:entityIdPattern">
					<xs:attributeGroup ref="fpdl:parametersGroup"/>
					<xs:assert test="@description=entityID"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="integerParam" substitutionGroup="fpdl:parameter">
		<xs:annotation>
			<xs:documentation>Parameter is an integer</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:integer">
					<xs:attributeGroup ref="fpdl:parametersGroup"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="stringParam" substitutionGroup="fpdl:parameter">
		<xs:annotation>
			<xs:documentation>Parameter is a string</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attributeGroup ref="fpdl:parametersGroup"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="decimalParam" substitutionGroup="fpdl:parameter">
		<xs:annotation>
			<xs:documentation>Paramater is a decimal value</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:decimal">
					<xs:attributeGroup ref="fpdl:parametersGroup"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="logicParam" substitutionGroup="fpdl:parameter">
		<xs:annotation>
			<xs:documentation>Parameter is a logic statement</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="fpdl:logicType">
					<xs:attributeGroup ref="fpdl:parametersGroup"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:attributeGroup name="parametersGroup">
		<xs:attribute name="ref" use="required">
			<xs:annotation>
				<xs:documentation>Local alpha reference of the parameter</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:pattern value="[A-Z]"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="description" use="required">
			<xs:annotation>
				<xs:documentation>Description of the parameter (eg horizDist)</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="horizDist"/>
					<xs:enumeration value="vertDist"/>
					<xs:enumeration value="slantDist"/>
					<xs:enumeration value="vertVelocity"/>
					<xs:enumeration value="entityID"/>
					<xs:enumeration value="horizVelocity"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="metric" type="xs:string">
			<xs:annotation>
				<xs:documentation>Metric employed (eg metre)</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup>
</xs:schema>
